
<div class="container">

  <div class="row">
    <div class="col s12" id="header">
      <h1 class="title">Connect Four</h1>
      <h2 class="subtitle">Variable Strength Computer Opponent and Database Persistance via Sailsjs</h2>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
    <div id="board">
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col m6 offset-m3 s12">
    <div>
      <span id="message">click a column to make the first move</span>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col m6 offset-m3 s12">
      <div class="card" id="controls">
        <button id="new-game-button" class="waves-effect waves-light btn">New Game</button>
        <div class="rad-wrap">
          <p class="radio-button">
            <input name="diff" type="radio" id="easy" value="easy"/>
            <label for="easy">Easy</label>
          </p>
          <p class="radio-button">
            <input name="diff" type="radio" id="hard" value="hard"/>
            <label for="hard">Hard</label>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
